---
---

@import "{{ site.theme }}";

body{
    background: none !important;
    background-color: #bed78e !important;
}

.col{
    text-align: justify;
}

#menu{
    padding-top: 10px; 
    padding-bottom: 10px;
    /*min-width: 300px;*/
}

.img-container {
    text-align: center;
    display: block;
}

#texto{
    padding-top: 10px;
    color: white;
}
header h1{
    color: white !important;
}
#subtitulo{
    color: white;
}
#footer{
    color: white;
}
a{
    color: white !important;
}
a:hover{
    text-decoration: none !important;
    color: #e0ffa3 !important;
}

.fa-map-marker-alt:before{
    color: white;
    padding-right: 4px;
    font-size: 50px;
}

.fa-envelope:before{
    color: white;
    padding-right: 4px;
}
.fa-whatsapp:before, .fa-facebook:before, .fa-mobile-alt:before{
    color: white;
    font-size: 50px;
}

h1:before{
    content: &nbsp !important;
}


.fa-linkedin:before {
    padding-right: 4px;
}
